# Server Configuration
PORT=5050
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Database Connection
MONGODB_URI=mongodb://localhost:27107/transitops

# Security Keys
JWT_SECRET=transitops_super_secure_jwt_secret_hash_key_phrase
JWT_EXPIRES_IN=1d
COOKIE_SECRET=transitops_cookie_signer_key

# Logs Directory
LOG_PATH=logs/app.log
